@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
 background-color: #F2F2F2;
 margin: 0 auto;
 font-family: 'Crimson Text', serif;
}

*{
  outline: 1px dotted yellow;
}

.header {
  background-color: #636363;
  height: 110px;
}

.headercon {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  color: #d2d2d2

}

.logo {
  float: left;
  font-size: 1.2rem;
}

.links{
  float: right;
  margin-top: 40px;
  font-size: 1rem;
  color: Black;
}

.links a{
  color: #d2d2d2;
  text-decoration: none;
  padding: 0 10px;
}

.about_me{
  max-width: 920px;
  text-align: center;
  margin: 10px auto;
  overflow: hidden;
}
.about_header{
  float: left;
  font-weight: bold;
  color: black;
  width: 920px;
}

.about_photo{
  float: right;
}

.about_body{
  float: left;
  color: black;
  max-width: 600px;
}

.work{
  max-width: 920px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}

.work_photo{
  float: left;
  max-width: 920px;
}

.polar{
  max-width: 457px;
  float: left;
  padding-right: 60px;
}

.rain{
  max-width: 285px;
  float: left;
}

.contact{
  text-align: center;
}








@media screen and (max-width: 620px) {
  .logo{
    float: none;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    }
